<div class="app-container">

  <header class="app-header">

    <div class="branding">

      <img src="../assets/images/logo_transparent.png" alt="logo" class="logo-img">

      <span class="logo-text">LECHEVALIER WINES</span>

    </div>

    <nav class="header-nav">
        <app-cart-dropdown></app-cart-dropdown>
        <div class="dropdown">
          <button class="dropbtn"><img src="../assets/images/user.svg" alt="user"></button>
          <div class="dropdown-content">
            <span href="#">Link 1</span>
            <span href="#">Link 2</span>
            <span href="#">Link 3</span>
          </div>
        </div>
    </nav>

  </header>

  <main class="main-content-container">
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div class="footer-logo">
      <img src="../assets/images/logo_transparent.png" alt="logo">
    </div>

    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contacts</a></li>
      <li><a href="#">Find Us</a></li>
    </ul>

    <p>Lechevalier Wine & Shop </p>
    <p>&bull; 85 Tower Bridge Rd, London SE1 4TW &bull; </p>

  </footer>

</div>